<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="robots" content="index,follow">
    <link rel="icon" href="ico/favicon.png">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<title>WebInix Solutions | Software Development</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	
	<!-- RS5.0 Main Stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/revolution/settings.css">
	
	<!-- RS5.0 Layers and Navigation Styles -->
	<link rel="stylesheet" type="text/css" href="css/revolution/layers.css">
	<link rel="stylesheet" type="text/css" href="css/revolution/navigation.css"> 
	
    <link href="css/style.css" rel="stylesheet">
    
    <!-- Color -->
    <link id="skin" href="skins/default.css" rel="stylesheet">

</head>
<body>
	<!-- Start preloading -->
	<div id="loading" class="loading-invisible">
		<div class="loading-center">
			<div class="loading-center-absolute">
				<div class="object" id="object_one"></div>
				<div class="object" id="object_two"></div>
				<div class="object" id="object_three"></div>
			</div>
			<p>Please wait...</p>
		</div>
	</div>
	<!-- End preloading -->

	<a id="whatsappLink" class="whatsapp-button" target="_blank" rel="noopener noreferrer">
		<i class="fab fa-whatsapp"></i>
	</a>	
	<script>
		// Function to generate a random token
		function generateToken(length) {
			const characters = '0123456789';
			let token = '';
			for (let i = 0; i < length; i++) {
				token += characters.charAt(Math.floor(Math.random() * characters.length));
			}
			return token;
		}
		// Assign the token to the WhatsApp link
		function setWhatsAppLink() {
			const phone = '918595145268';
			const message = 'Hello, I\'ve just visited your website and would like to know more. Reference Token: ';
			const token = generateToken(5);
			const link = `https://api.whatsapp.com/send?phone=${phone}&text=${encodeURIComponent(message + token)}`;
			
			document.getElementById('whatsappLink').href = link;
		}
		// Set the link on page load
		window.onload = setWhatsAppLink;
	</script>

    <!-- Start Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed no-background nav-static bootsnav">
        <!-- Start Top Search -->
        <div class="top-search">
            <div class="container">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Type something ann hit enter">
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
        <!-- End Top Search -->

        <div class="container">            
            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
				</ul>
            </div>
            <!-- End Atribute Navigation -->

            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="img/brand/logo-black.png" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->
        </div>   
		
		<!-- Start Side Menu -->
		<div class="side">
			<a href="/" class="close-side"><i class="fa fa-times"></i></a>
			<div class="widget text-center">
				<a href="/"><img src="img/brand/logo-black.png" style="width: 200px;" class=" marginbot20" alt="" /></a>
				<h5 class="title">About us</h5>
				<p>
				   WebInix was founded with a vision to tell compelling stories through exceptional design and innovative web solutions. Our passion drives us to transform ideas into digital realities.
				</p>
				<p>We understand that every business is unique. We provide customized web development and digital marketing solutions that are tailored to meet your specific needs and objectives, ensuring the best possible outcomes for your projects.</p>
			</div>
		</div>
		<!-- End Side Menu -->
    </nav>
    <!-- End Navigation -->
	
	<!-- START REVOLUTION SLIDER 5.0 -->
	<div id="slider_container" class="rev_slider_wrapper">
		<div id="rev-slider" class="rev_slider"  data-version="5.0">
			<ul> 
				<li data-transition="slidedown">
					<!-- MAIN IMAGE -->
					<img style="background-size: cover; background-repeat: no-repeat; background-position: center;" src="img/slider/slide02.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
					
					<!-- LAYER NR. 1 -->
					<div class="tp-caption cap-boxed single-boxedTitle capUppercase-title" 
						id="slide-1-layer-1" 
						data-x="left" data-hoffset="['0','0','0','0']" 
						data-y="middle" data-voffset="['0','0','0','0']" 
						data-width="['full','full','full','full']"
						data-height="['full','full','full','full']"
						data-transform_idle="o:1;"
						data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" 
						data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
						data-textAlign="['center','center','center','center']"
						data-whitespace="nowrap"
						data-basealign="slide" 
						data-type="shape" 
						data-fontsize="['76','63','48','29']"
						data-lineheight="['76','62','48','29']"
						data-paddingtop="[70,50,40,30]"
						data-paddingright="[10,10,10,8]"
						data-paddingbottom="[70,50,40,30]"
						data-paddingleft="[10,10,10,8]"
						data-start="500" 
						data-splitin="none" 
						data-splitout="none" 
						data-responsive_offset="on" 
						style="z-index: 4;font-weight:300; white-space: nowrap;"></div>	

					<!-- LAYER NR. 2 -->
					<div class="tp-caption white-text" 
						id="slide-1-layer-2" 
						data-x="left" data-hoffset="['60','50','40','20']" 
						data-y="center" data-voffset="['-40','-50','-70','-35']" 
						data-width="['620','512','390','400']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
						data-transform_in="y:-90;s:2000;e:Power4.easeInOut;" 
						data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
						data-textAlign="['left','left','left','left']"
						data-whitespace="normal"
						data-type="text" 
						data-fontsize="['64','48','36','24']"
						data-lineheight="['82','64','48','24']"
						data-start="1000" 
						data-splitin="none" 
						data-splitout="none" 
						data-responsive_offset="on" 
						style="z-index: 5; font-weight:700;white-space: normal;">Sorry.. We're under construction
					</div>
					
					<!-- Start Countdown -->
					<div class="tp-caption countdown-wrapp" 
					id="slide-1-layer-3" 
					data-x="left" data-hoffset="['60','50','40','20']" 
					data-y="center" data-voffset="['140','110','70','50']" 
					data-width="['620','512','700','400']"
					data-height="['auto','auto','auto','auto']"
					data-transform_idle="o:1;"
					data-transform_in="y:90;s:2000;e:Power4.easeInOut;" 
					data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
					data-textAlign="['left','left','left','left']"
					data-whitespace="normal"
					data-type="text" 
					data-fontsize="['64','48','36','18']"
					data-lineheight="['82','64','48','24']"
					data-start="2000" 
					data-splitin="none" 
					data-splitout="none" 
					data-responsive_offset="on" 
					style="z-index: 5; font-weight:700;white-space: normal;">
				   <h5>We'll be back at :</h5>
				   <div class="main-example">
					   <div style="color: white;" class="countdown-container" id="main-example"></div>
				   </div>
			   </div>
		   
			   <script>
				   function startCountdown() {
					   var countdownElement = document.getElementById('main-example');
					   var countdownTime = 24 * 60 * 60 * 1000; // 24 hours in milliseconds
		   
					   function updateCountdown() {
						   var now = new Date().getTime();
						   var distance = countdownTime - (now % countdownTime);
		   
						   var hours = Math.floor((distance / (1000 * 60 * 60)) % 24);
						   var minutes = Math.floor((distance / (1000 * 60)) % 60);
						   var seconds = Math.floor((distance / 1000) % 60);
		   
						   countdownElement.innerHTML = hours + "h " + minutes + "m " + seconds + "s ";
		   
						   if (distance <= 0) {
							   distance = countdownTime; // Reset the countdown
						   }
					   }
		   
					   setInterval(updateCountdown, 1000); // Update every second
				   }
		   
				   startCountdown();
			   </script>
					<!-- End Countdown -->
				</li>
			</ul>
		</div>
	</div>
	<!-- END OF SLIDER WRAPPER -->

	<!-- START JAVASCRIPT -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
	<script src="js/loading.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    
    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>
	
    <!-- easing -->
	<script src="js/jquery.easing-1.3.min.js"></script>
	
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
	
    <!-- Bootsnavs -->
    <script src="js/bootsnav.js"></script>
	
	<!-- REVOLUTION JS FILES -->
	<script type="text/javascript" src="js/revolution/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="js/revolution/jquery.themepunch.revolution.min.js"></script>
	
	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
	(Load Extensions only on Local File Systems ! 
	The following part can be removed on Server for On Demand Loading) -->	
	<script type="text/javascript" src="js/revolution/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="js/revolution/revolution.extension.carousel.min.js"></script>
	<script type="text/javascript" src="js/revolution/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="js/revolution/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="js/revolution/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="js/revolution/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="js/revolution/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript" src="js/revolution/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="js/revolution/revolution.extension.video.min.js"></script>
	
	<!-- CUSTOM REVOLUTION JS FILES -->
	<script type="text/javascript" src="js/revolution/setting/single-revolution-slider.js"></script>
	
	<!-- Custom form -->
	<script src="js/form/jcf.js"></script>
	<script src="js/form/jcf.scrollable.js"></script>
	<script src="js/form/jcf.select.js"></script>
	
	<!-- Custom checkbox and radio -->
	<script src="js/checkator/fm.checkator.jquery.js"></script>
	<script src="js/checkator/setting.js"></script>
	
	<!-- Select language -->
	<script src="js/selectdropdown/jquery.dd.min.js"></script>
	<script src="js/selectdropdown/setting.js"></script>

    <!-- Countdown -->
    <script src="js/countdown/lodash.min.js"></script>  
    <script src="js/countdown/jquery.countdown.min.js"></script>
    <script type="text/template" id="main-example-template">
        <div class="time <%= label %>">
        <span class="count curr top"><%= curr %></span>
        <span class="count next top"><%= next %></span>
        <span class="midle-line"></span>
        <span class="count next bottom"><%= next %></span>
        <span class="count curr bottom"><%= curr %></span>
        <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
        </div>
    </script>
    <script src="js/countdown/setting.js"></script>  
	
    <!-- Twitter -->
	<script src="js/twitter/tweetie.min.js"></script>
	<script src="js/twitter/ticker.js"></script>
	<script src="js/twitter/setting.js"></script>
	
    <!-- Custom -->
    <script src="js/custom.js"></script>
</body>
</html>
